# IDE Settings
.idea/
.vscode/

# Build folders
**/target/
**/bin/
/backend/maven-bin/

# Environment
.env
.env.local
frontend/.env.local

# secrets — never commit
backend/src/main/resources/application.properties
application.properties

# Maven
.mvn/
mvnw
mvnw.cmd

# Compiled files
*.class
*.log

# Misc
.DS_Store
local.settings.json
functions/local.settings.json
functions/test-client.html